<ion-view>
    <ion-nav-title>Nova Senha</ion-nav-title>
    <ion-content padding="true" class="has-header">
        <div class="list">
            <form name="newPassword">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Senha Atual</span>
                    <input type="password" placeholder="Senha Atual" ng-model="FormValidation.Atual" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nova Senha</span>
                    <input type="password" placeholder="Nova Senha" ng-model="user.new_password" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Repita Nova Senha</span>
                    <input type="password" placeholder="Repita Nova Senha" ng-model="FormValidation.Password"required>
                </label>
                <span class="show assertive" ng-if="(user.Password != FormValidation.Password) && (newPassword.Senha2.$dirty)">
                Senha diferente
                </span>
                <span class="show assertive" ng-if="(user.Password == FormValidation.Password) && (user.Password == FormValidation.Atual)">
                Nova senha precisa ser diferente da atual
              </span>
            </form>
        </div>
        <button class="button button-full button-positive" ng-click="Salvar()" ng-disabled="newPassword.$invalid">
            Salvar Senha
        </button>
    </ion-content>
</ion-view>